<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FundCars | Success</title>
    {% load django_simple_bulma %} {% bulma %} {% font_awesome %}
    <style>
      html,
      body {
        min-height: 100%;
        display: flex;
        flex-direction: column;
      }

      .content {
        flex: 1;
      }
    </style>
  </head>
  <body>
    {% include 'dealer/header.html' %}
    <section class="section">
        <div class="container">
            <article class="message is-success">
                <div class="message-header">
                    <p>Success</p>
                </div>
                <div class="message-body">
                    Your document was uploaded successfully.
                </div>
            </article>
            <a class="button is-link" href="{% url 'upload_file' %}">Upload another document</a>
        </div>
    </section>
</body>
</html>
