<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FundCars</title>
    {% load django_simple_bulma %} {% bulma %} {% font_awesome %}
  </head>
  <body>
    {% include 'lender/header.html' %}

    <section class="section">
      <div class="container">
        <h1 class="title">Select Documents to Download</h1>
        <form method="get" action="{% url 'download_zip' %}">
          {% for document in documents %}
          <div class="field">
            <input
              class="is-checkradio"
              id="document{{ document.id }}"
              type="checkbox"
              name="files"
              value="{{ document.id }}"
            />
            <label for="document{{ document.id }}"
              >{{ document.file.name }}</label
            >
          </div>
          {% endfor %}
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-link">
                Download Selected
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
