<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FundCars | Index</title>
    {% load django_simple_bulma %} {% bulma %} {% font_awesome %}
    <style>
      html,
      body {
        min-height: 100%;
        display: flex;
        flex-direction: column;
      }

      .content {
        flex: 1;
      }
    </style>
  </head>
  <body>
    {% include 'lender/header.html' %}

    <section class="section">
      <div class="container">
        <h1 class="title has-text-centered">Automobile Deal Form</h1>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Image</label>
              <div class="control">
                <input class="input" type="text" placeholder="Image URL" />
              </div>
            </div>
            <div class="field">
              <label class="label">VIN Number</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="VIN Number"
                  value="{{ deal.vin }}"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Mileage</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Mileage"
                  value="{{ deal.mileage }}"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Model</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Model"
                  value="{{ deal.model }}"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Type</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Type"
                  value="{{ deal.type }}"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Color</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Color"
                  value="{{ deal.color }}"
                />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Year</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Year"
                  value="{{ deal.year }}"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Price</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Price"
                  value="{{ deal.price }}"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Condition</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Condition"
                  value="{{ deal.condition }}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="field is-grouped is-justify-content-center">
          <div class="control">
            <button
              class="button is-primary is-large is-rounded"
              onclick="event.preventDefault(); window.location.href='/lender/approve_deal/{{ deal.id }}';"
            >
              Approve
            </button>
          </div>
          <div class="control">
            <button class="button is-danger is-large is-rounded">Cancel</button>
          </div>
          <form method="get" action="{% url 'download_zip' %}">
            <div class="field">
              <div class="control">
                <button type="submit" class="button is-link">
                  Download Documents
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
